@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
:root {
  --text: #1f1a07;
  --background: #fdfbf6;
  --primary: #d2ab3e;
  --secondary: #ace284;
  --accent: #84dd6e;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Syne", sans-serif;
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

.landing-page {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--background);
  color: var(--text);
}

.main-text h1 {
  font-size: 72px;
}

.main-text h2 {
  color: var(--primary);
}

.text-scroll {
  text-align: right;
}

.text-container {
  height: 1.5rem;
  width: fit-content;
  float: right;
  overflow: hidden;
  width: 100%;
}

.main-text p {
  margin-top: 40px;
}

.second-page {
  margin-top: 100vh;
  position: relative;
  z-index: 2;
  height: 100vh;
  background-color: var(--text);
  clip-path: inset(0 50px round 28px 28px 0 0);
}

header {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 5%;
}

.links p {
  margin-bottom: 10px;
  transition: color 150ms ease-out;
}

.links p:hover {
  color: var(--primary);
}

b {
  color: var(--primary);
}

.about-me h1 {
  color: white;
  text-align: center;
}
