@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
:root {
  --text: #1f1a07;
  --background: #fdfbf6;
  --primary: #d2ab3e;
  --secondary: #ace284;
  --accent: #84dd6e;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Syne", sans-serif;
}

body {
  color: var(--text);
}

.intro {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--background);
  display: grid;
  place-content: center;
  text-align: center;
  display: none;
}

.intro-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border: 1px solid red;
  line-height: 23px;
}

#firstIntro {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: var(--text);
}

.landing-page {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--background);
  color: var(--text);
}

.main-text h1 {
  font-size: 72px;
  position: relative;
}

.main-text h1::before {
  content: "i";
  color: var(--primary);
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: 30%;
  overflow: hidden;
}

.main-text h2 {
  color: var(--primary);
}

.text-scroll {
  text-align: right;
}

.text-container {
  height: 1.5rem;
  width: fit-content;
  float: right;
  overflow: hidden;
  width: 100%;
}

.main-text p {
  margin-top: 40px;
}

.second-page {
  margin-top: 100vh;
  position: relative;
  height: fit-content;
  z-index: 2;
  background-color: var(--background);
  border-top: 3px solid var(--primary);
  color: var(--text);
}

header {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 5%;
}

.links p {
  margin-bottom: 10px;
  transition: color 150ms ease-out;
  position: relative;
  width: fit-content;
  cursor: pointer;
}

/*LINK HOVER ANIMATION BELOW*/
.menu-items h3::before,
.links p::before {
  content: "";
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 2px;
  background-color: var(--text);
  transform: scaleX(0);
  transition: transform 300ms ease-out;
  transform-origin: 0% 50%;
}

.links p:hover {
  color: var(--primary);
}

.links p:hover::before,
.menu-items h3:hover::before {
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

.menu-items h3 {
  position: relative;
  transition: color 150ms ease-out;
  margin: 10px 0;
  font-size: 40px;
  cursor: pointer;
  width: fit-content;
}
/*LINK HOVER ANIMATION END*/

b {
  color: var(--primary);
}

.about-me h1 {
  font-size: 56px;
  margin-bottom: 60px;
}

.about-me {
  padding: 60px;
}

.nav-bars {
  font-size: 200px;
  position: fixed;
  z-index: 10;
  top: 5%;
  right: 5%;
  background-color: var(--text);
  padding: 20px;
  border-radius: 28px;
  cursor: pointer;
  transform: scale(0);
}

.bar {
  background-color: var(--primary);
  height: 2px;
  width: 20px;
}

#bar1 {
  margin-bottom: 5px;
}

.click-menu {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.menu-items {
  background-color: var(--secondary);
  margin: 10px;
  height: calc(100% - 20px);
  width: 70%;
  max-width: 600px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 100%);
  pointer-events: all;
}

.offClick {
  pointer-events: all;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  display: none;
}

.menu-items h3:hover {
  color: var(--primary);
}

.click-menu img {
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 80px;
}

.landing-page svg {
  fill: var(--secondary);
  animation: rotate 12s linear infinite;
}

.svg-cont {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info-container {
  border-top: 1px solid var(--text);
  padding: 20px;
  position: relative;
}

.info-container svg {
  fill: var(--text);
  margin-right: 10px;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.info-container p {
  width: 70%;
  margin-top: 20px;
}

.arrow-container h2 {
  font-size: 48px;
}

.info-container p {
  font-size: 20px;
}

#bottomArrow {
  margin-top: 20px;
  height: auto;
}

#bottomArrow svg {
  margin-left: 10px;
  padding-top: 5px;
}

#spacer {
  margin-top: 20px;
}

.count {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
}

h1.count {
  font-size: 60px;
}

.info-wrapper {
  background-color: var(--background);
  position: relative;
  opacity: 0;
  width: 100%;
}

.full-wrap {
  position: relative;
  width: 100%;
}

#secondWrap {
  top: 100%;
  margin-top: 97px;
}

#thirdWrap {
  top: 100%;
  margin-top: 194px;
}

.info-container h3 {
  margin-bottom: 10px;
}

.portfolio {
  position: relative;
  margin-top: 250px;
  z-index: 2;
}

.scroller-wrapper h1 {
  font-size: 10vw;
}

.scroller-wrapper #first-part {
  margin-right: 20vw;
  position: relative;
}

.scroller-wrapper #second-part {
  margin-right: -20vw;
}

.scroller-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  border-top: 1px solid var(--text);
  padding: 20px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.pseudo {
  position: absolute;
  width: 100%;
  transform: translateY(-100%);
}

.pseudo #first-part {
  background-image: linear-gradient(to right, var(--secondary), var(--primary));
  background-clip: text;
  color: transparent;
  opacity: 0;
}

.pseudo #second-part {
  background-image: linear-gradient(to left, var(--secondary), var(--primary));
  background-clip: text;
  color: transparent;
  opacity: 0;
}

.project-wrapper a {
  width: 80%;
}

#proj2 {
  border-bottom: 1px solid var(--text);
}

.project:hover .site-text {
  transform: translateX(0);
}

.project-wrapper {
  padding: 60px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project svg {
  fill: var(--text);
  opacity: 0.4;
  transition: opacity 500ms ease-out;
}

.project:hover svg,
.project:hover h2 {
  opacity: 1;
}

b.green {
  color: var(--secondary);
}

.site-text h2 {
  font-size: 30px;
  white-space: nowrap;
  opacity: 0.4;
  transition: opacity 500ms ease-out;
}

.site-text img {
  width: 200px;
  margin-right: 20px;
  border-radius: 10px;
}

.site-text {
  display: flex;
  align-items: center;
  transform: translateX(-200px);
  transition: transform 500ms ease-in-out;
}

.contact-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.contact-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 20px;
}

.contact-box {
  background-color: var(--primary);
  grid-column: span 2;
  border-radius: 25px;
  min-height: 200px;
}

#twiceH {
  grid-row: span 2;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.social-media-box {
  background-color: var(--accent);
  border-radius: 25px;
  height: 75px;
  display: grid;
  place-items: center;
  transition: filter 300ms ease-out;
}

.contact-page a {
  height: 75px;
}

#box1 {
  display: grid;
  place-content: center;
  text-align: center;
  height: 100%;
}

#box3 {
  display: grid;
  place-content: center;
}

.open-to {
  display: flex;
  align-items: center;
}

.openSvg {
  fill: var(--accent);
  margin-right: 20px;
  z-index: 2;
}

#openSvg2 {
  position: absolute;
  opacity: 0.4;
  z-index: 1;
  animation: expand 3s ease-in-out infinite;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(2.2);
  }
  100% {
    transform: scale(1);
  }
}

.social-media-box img {
  width: 40px;
}

video {
  height: 400px;
}

.social-media-box:hover {
  filter: brightness(1.2);
}

.last-message {
  position: relative;
  text-align: center;
  margin: 60px 0;
}

footer {
  margin: 0 40px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .main-text h1 {
    font-size: 13vw;
  }

  .main-text h2 {
    transform-origin: 100% 50%;
    transform: scale(0.8);
  }

  .links p {
    font-size: 4vw;
  }

  .about-me h1 {
    font-size: 8vw;
    margin: 25px 0;
  }

  .about-me {
    padding: 20px;
  }

  .arrow-container h2 {
    font-size: 7vw;
  }

  .info-container {
    width: calc(100% - 40px);
    padding: 10px;
  }

  .info-container p {
    width: 100%;
    font-size: 5vw;
  }

  #secondWrap {
    margin-top: 14vw;
  }

  #thirdWrap {
    margin-top: 28vw;
  }

  .portfolio {
    margin-top: 35vw;
  }

  .menu-items h3 {
    font-size: 9vw;
  }

  .project-wrapper {
    padding: 0;
    padding-top: 40px;
  }

  .project {
    padding: 0;
  }

  .site-text h2 {
    font-size: 5vw;
  }

  .last-message h1 {
    font-size: 7vw;
  }

  .contact-wrapper {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .contact-box {
    grid-column: span 4;
  }

  #twiceH {
    grid-column: span 4;
    grid-row: span 1;
    height: 200px;
  }

  .social-media-box img {
    width: 30px;
  }

  .info-container h3 {
    font-size: 4vw;
  }
}
