@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
:root {
  --text: #1f1a07;
  --background: #fdfbf6;
  --primary: #d2ab3e;
  --secondary: #ace284;
  --accent: #84dd6e;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Syne", sans-serif;
}

body {
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

.landing-page {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--background);
  color: var(--text);
}

.main-text h1 {
  font-size: 72px;
}

.main-text h2 {
  color: var(--primary);
}

.text-scroll {
  text-align: right;
}

.text-container {
  height: 1.5rem;
  width: fit-content;
  float: right;
  overflow: hidden;
  width: 100%;
}

.main-text p {
  margin-top: 40px;
}

.second-page {
  margin-top: 100vh;
  position: relative;
  z-index: 2;
  height: 100vh;
  background-color: var(--primary);
  clip-path: inset(0 50px round 28px 28px 0 0);
}

header {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 5%;
}

.links p {
  margin-bottom: 10px;
  transition: color 150ms ease-out;
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.links p::before {
  content: "";
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 2px;
  background-color: var(--text);
  transform: scaleX(0);
  transition: transform 300ms ease-out;
  transform-origin: 0% 50%;
}

.links p:hover {
  color: var(--primary);
}

.links p:hover::before {
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

b {
  color: var(--primary);
}

.about-me h1 {
  font-size: 48px;
}

.about-me {
  padding: 60px;
}

.nav-bars {
  font-size: 200px;
  position: fixed;
  z-index: 10;
  top: 5%;
  right: 5%;
  background-color: var(--text);
  padding: 20px;
  border-radius: 28px;
  cursor: pointer;
  transform: scale(0);
}

.bar {
  background-color: var(--primary);
  height: 2px;
  width: 20px;
}

#bar1 {
  margin-bottom: 5px;
}

.click-menu {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.clickOff {
  height: 100vh;
  width: 50%;
  display: none;
  pointer-events: all;
}

.menu-items {
  background-color: #84dd6e;
  margin: 10px;
  height: calc(100% - 20px);
  width: 50%;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 100%);
  pointer-events: all;
}

.menu-items h3 {
  margin: 10px 15%;
  font-size: 40px;
  cursor: pointer;
}

.click-menu img {
  position: absolute;
  bottom: 5%;
  right: 10%;
}
